html {
  background: forestgreen;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.box {
  border: 1px solid black;
  color: white;
  width: 200px;
  height: 200px;
  margin: 1% auto;
}

.green-box {
  background: green;
}

.red-box {
  background: red;
}

button {
  background: white;
  color: forestgreen;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 0 10px;
}
